
.Pic{
width:80px;
height:80px;
overflow:hidden;
cursor:pointer;
border:2px solid transparent;
}
.Pic:hover{
border:2px solid var(--mainColor);
}

.Pic img{
    height: 100%;
    width: 100%;
    
    object-fit:cover;
}

.CurrentDisplayedPictures img{
max-width:100%;
max-height:450px;
aspect-ratio:1/1;
object-fit:contain;
/* border: 2px solid black; */
}
.productDetails{

    box-sizing: border-box;
    
}

.color{
width:20px;
height:20px;
cursor:pointer;
border:2px solid transparent;
}

.color[data-color="blue"]{
background-color:blue;
}

.color[data-color="red"]{
background-color:red;
}

.color.active{
border:2px solid #b1acac;
}

.SizeDiv div{
border: 2px solid var(--mainColor);
width: 2.5rem; 
height: 2.5rem;
background-color: var(--Lightgray);
}

.minus{
    
}